@font-face {
  font-family: 'Elianto-Regular';
  src: url('./assets/fonts/Elianto-Regular.ttf');
}

@font-face {
  font-family: 'Ailerons-Typeface';
  src: url('./assets/fonts/Ailerons-Typeface.otf');
}

@font-face {
  font-family: 'Exo 2.0';
  src: url('./assets/fonts/exo-20.ttf');
}

@font-face {
  font-family: 'Exo 2.0, italic';
  src: url('./assets/fonts/exo-20-italic.ttf');
}

@font-face {
  font-family: 'Exo 2.0, bold';
  src: url('./assets/fonts/exo-20-bold.ttf');
}

@font-face {
  font-family: 'Exo 2.0, bold italic';
  src: url('./assets/fonts/exo-20-bold-italic.ttf');
}
